*,
*::after,
*::before {
  box-sizing: border-box;
}

::placeholder {
  color: #666
}

::selection {
  background-color: $accent;
}

input,
textarea {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: $mobileW;
}

body {
  font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
  font-weight: $fontweight;
	position: relative;
	overflow-x: hidden;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: calc($desktopW + $pad + $pad);
  padding: 0 $pad;
  margin: 0 auto;
};

.no-scrolling {
  overflow: hidden!important;
}

.d-none {
  display: none!important;
}

.d-flex {
  display: flex;
}

.f-c {
  align-items: center;
  justify-content: center;
}

.f-ac {
  align-items: center;
}

.f-column {
  flex-direction: column;
}

.f-jsb {
  justify-content: space-between;
}

.f-wrap {
  flex-wrap: wrap;
}

.img-contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}