//Screen's width
$mobileW: 320px;
$tableW: 768px;
$desktopW: 1200px;
$viewportD: 1200;

// Base variable
$accent: orange;
$textcolor: #202020;
$lineheight: 1.65;
$fontsize: 16px;
$userfont: 'PT Sans Narrow', sans-serif;