@mixin adaptive($prop, $startMean, $endMean) {
  @if $prop == 'margin-right' {
    margin-right: calc(#{$startMean + px} + (#{$endMean - $startMean}) * ((100vw - #{$mobileW}) / (#{$viewportD} - 320)))
  } @else if $prop == 'margin-left' {
    margin-left: calc(#{$startMean + px} + (#{$endMean - $startMean}) * ((100vw - #{$mobileW}) / (#{$viewportD} - 320)))
  } @else if $prop == 'margin-top' {
    margin-top: calc(#{$startMean + px} + (#{$endMean - $startMean}) * ((100vw - #{$mobileW}) / (#{$viewportD} - 320)))
  } @else if $prop == 'margin-bottom' {
    margin-bottom: calc(#{$startMean + px} + (#{$endMean - $startMean}) * ((100vw - #{$mobileW}) / (#{$viewportD} - 320)))
  } 

  @if $prop == 'padding-right' {
    padding-right: calc(#{$startMean + px} + (#{$endMean - $startMean}) * ((100vw - #{$mobileW}) / (#{$viewportD} - 320)))
  } @else if $prop == 'padding-left' {
    padding-left: calc(#{$startMean + px} + (#{$endMean - $startMean}) * ((100vw - #{$mobileW}) / (#{$viewportD} - 320)))
  } @else if $prop == 'padding-top' {
    padding-left: calc(#{$startMean + px} + (#{$endMean - $startMean}) * ((100vw - #{$mobileW}) / (#{$viewportD} - 320)))
  } @else if $prop == 'padding-bottom' {
    padding-left: calc(#{$startMean + px} + (#{$endMean - $startMean}) * ((100vw - #{$mobileW}) / (#{$viewportD} - 320)))
  } 
}